@charset "UTF-8";
input {
  min-height: 4em;
  border-radius: 10px; }

input[type=search] {
  background-color: white;
  padding-left: 1.825em;
  color: #0e1318;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  border: none;
  line-height: 2.25em;
  margin-bottom: 0;
  -webkit-appearance: none;
  position: relative; }

.form-control {
  padding: 0 12px;
  height: 0; }

button.search-submit {
  position: absolute;
  color: #0e1318;
  background-color: white;
  border: none;
  top: 1em;
  right: 0;
  padding: .5em 1.25em;
  line-height: 2.25em;
  z-index: 2;
  display: block; }

button {
  outline: 0 none !important; }

.btn {
  background-clip: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
  -webkit-transition: background-color .3s,color .3s,border .3s ease-in;
  transition: background-color .3s,color .3s,border .3s ease-in;
  display: inline-block;
  background: white;
  border-radius: 4px;
  border: 1px solid #edf0f2;
  padding: .75em 1.5em;
  text-decoration: none;
  color: rgba(14, 19, 24, 0.7);
  min-width: 9.375em;
  text-align: center; }

.btn-success {
  background: #51A351 !important;
  color: white;
  border: 0; }
  .btn-success:hover {
    border: 0;
    background: #67b767;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.nav-wrapper {
  overflow: hidden;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  background: #293039;
  padding: .75em;
  min-height: 43.75em;
  width: 28%;
  float: left;
  position: relative;
  margin-left: -1px; }
  @media (max-width: 1000px) {
    .nav-wrapper {
      display: none;
      position: absolute;
      right: 0;
      width: 0;
      height: 100%;
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0); } }

.nav-logo-item {
  min-height: 100px;
  text-align: center; }
  .nav-logo-item .icon-logo-size {
    font-size: 10em; }

.nav-menu-all {
  color: #95a0af; }
  .nav-menu-all .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .85714em;
    font-size: .875em;
    border-radius: 4px;
    position: relative;
    line-height: 1.42857em; }
  .nav-menu-all .nav-active .icon-pp, .nav-menu-all .nav-active h3 {
    color: white; }
  .nav-menu-all .nav-menu-item:hover {
    background: #21272f;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .nav-menu-all:first-child:hover {
    background: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.nav-menu-all {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  pointer-events: none;
  padding: .75em;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in; }

.nav-list-active {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow-y: auto;
  height: 100%;
  -webkit-animation-name: leftmove;
          animation-name: leftmove;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

@-webkit-keyframes leftmove {
  from {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes leftmove {
  from {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }
h3 {
  margin: 0;
  font-size: 16px;
  color: #95a0af;
  font-weight: 400; }

/*自适应导航*/
@media (min-width: 1000px) {
  .article-nav-wrapper {
    display: none; } }
@media (max-width: 1000px) {
  .article-nav-wrapper {
    display: block;
    color: #0e1318;
    background: #f8f9f9;
    border-radius: 4px 4px 0 0;
    min-height: inherit; } }
.article-nav-wrapper .nav-menu-responsive {
  font-size: 18.4px; }
  .article-nav-wrapper .nav-menu-responsive .responsive-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .65217em .97826em;
    position: relative;
    color: #0e1318; }
    .article-nav-wrapper .nav-menu-responsive .responsive-menu:last-child {
      cursor: pointer; }

.close {
  position: absolute;
  right: 10px;
  opacity: .6;
  text-shadow: inherit;
  z-index: 999999;
  cursor: pointer; }
  .close span {
    color: #ff9800;
    font-size: 24px;
    display: none; }
    @media (max-width: 768px) {
      .close span {
        display: block; } }

.show {
  z-index: 2; }
  @media (max-width: 768px) {
    .show {
      display: block;
      width: 100%;
      top: 2vh;
      margin-top: 0 !important;
      height: 96vh;
      position: fixed;
      z-index: 999997;
      border-radius: 10px;
      margin: 0;
      left: 2vw;
      right: 2vw;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      -webkit-animation-name: show-nav;
              animation-name: show-nav;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; } }

.hide {
  -webkit-animation-name: hide-nav;
          animation-name: hide-nav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.nav-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

@-webkit-keyframes hide-nav {
  form {
    width: 96vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    width: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; } }

@keyframes hide-nav {
  form {
    width: 96vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    width: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; } }
@-webkit-keyframes show-nav {
  form {
    width: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    width: 96vw;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes show-nav {
  form {
    width: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  to {
    width: 96vw;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes hide-nav {
  form {
    width: 96vw;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    width: 0;
    -webkit-transform: scale(0);
            transform: scale(0); } }
@-webkit-keyframes move-left-menu {
  form {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  to {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); } }
@keyframes move-left-menu {
  form {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  to {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); } }
.container-main-content {
  width: 72%;
  height: 100%;
  float: left;
  position: relative; }
  @media (max-width: 1000px) {
    .container-main-content {
      width: 100%; } }
  .container-main-content .container-inner {
    -webkit-transition: opacity .3s .3s linear;
    transition: opacity .3s .3s linear; }
    .container-main-content .container-inner article {
      padding: 3em; }
      @media (max-width: 768px) {
        .container-main-content .container-inner article {
          padding: 1em; } }

.support-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
  border-bottom: 1px solid #edf0f2; }
  .support-main-section .support-main-section-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 26%;
    margin-right: 2%;
    margin-bottom: 2%; }
    @media (max-width: 996px) {
      .support-main-section .support-main-section-item {
        width: 40%; } }
    @media (max-width: 768px) {
      .support-main-section .support-main-section-item {
        width: 40%; } }
    .support-main-section .support-main-section-item .link-article {
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 1em;
      border: 2px solid white;
      border-radius: 4px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .support-main-section .support-main-section-item .link-article:hover {
        border: 2px solid #ff9800;
        -webkit-box-shadow: 4px 4px 6px #f2f2f2;
                box-shadow: 4px 4px 6px #f2f2f2; }
      .support-main-section .support-main-section-item .link-article .article-warp {
        max-width: 13.75em;
        margin: 0 auto 0 auto;
        word-wrap: break-word; }
        .support-main-section .support-main-section-item .link-article .article-warp .article-title {
          margin-bottom: 0;
          color: #0e1318;
          -webkit-transition: color .3s;
          transition: color .3s;
          font-weight: 400;
          font-size: 1em;
          margin-top: 1em; }

.support-featured-section {
  text-align: center; }
  .support-featured-section .section-title {
    font-weight: 300 !important;
    color: #0e1318;
    font-size: 1.73913em;
    margin-bottom: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .support-featured-section .article-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 768px) {
      .support-featured-section .article-list ul {
        padding: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .support-featured-section .article-list ul li {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      width: 50%;
      word-break: break-word;
      line-height: 1.42857em;
      margin-bottom: .75em;
      text-align: left; }
      @media (max-width: 768px) {
        .support-featured-section .article-list ul li {
          width: 100%;
          text-align: center; } }
  .support-featured-section .article-list .link-article {
    color: #0e1318;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; }
    .support-featured-section .article-list .link-article:hover {
      color: #f7ad41;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.feature-right-6 {
  padding-right: 6px; }

.details {
  padding-bottom: 2em; }
  .details h1 {
    font-size: 2.375em;
    line-height: 1.21053em;
    margin-bottom: .63158em;
    font-weight: 300;
    color: #ff9800; }
  .details h2 {
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: .65217em; }
  .details p {
    font-weight: 300;
    color: #0e1318; }
  .details p img {
    display: block;
    margin: auto;
    border-radius: 4px;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0; }
  .details strong {
    font-weight: 400; }
  .details a {
    text-decoration: none !important;
    color: #ff9800 !important;
    cursor: pointer; }
    .details a:hover {
      color: #e08704;
      text-decoration: underline !important; }
  .details ul li {
    font-weight: 300;
    color: #0e1318; }
    .details ul li:before {
      font-family: 'icon-cc' !important;
      content: "\e939";
      color: #0e1318;
      font-size: 12px;
      display: inline-block;
      padding-right: 10px; }
  .details ul li.caret-right {
    font-weight: 300;
    color: #0e1318; }
    .details ul li.caret-right:before {
      font-family: 'icon-cc' !important;
      content: "\e939";
      color: #0e1318;
      font-size: 12px;
      display: inline-block;
      padding-right: 10px; }
  .details ul li.to-tag {
    font-weight: 300;
    color: #0e1318; }
    .details ul li.to-tag:before {
      font-family: 'icon-cc' !important;
      content: "\e9a4";
      color: #0e1318;
      font-size: 12px;
      display: inline-block;
      padding-right: 10px; }
  .details ul li.to-link {
    font-weight: 300;
    color: #0e1318; }
    .details ul li.to-link:before {
      font-family: 'icon-cc' !important;
      content: "\e969";
      color: #0e1318;
      font-size: 12px;
      display: inline-block;
      padding-right: 10px; }
  .details ol {
    position: relative; }
    .details ol li.to-num {
      font-weight: 300;
      color: #0e1318;
      line-height: 2.5em;
      counter-increment: my; }
      .details ol li.to-num:before {
        content: counter(my);
        display: inline-block;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        background: #ff9800;
        border-radius: 50%;
        font-weight: 600;
        font-size: .8125em;
        line-height: 2em;
        color: white;
        text-align: center; }

.is-help .no-botton-warp {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  background: #f8f9f9;
  padding: 1.5em;
  border: none;
  border-radius: 4px; }
  .is-help .no-botton-warp .was-article h2 {
    font-size: 1.15em;
    font-weight: 600;
    margin: 0 0 .65217em 0;
    padding: 0; }
  .is-help .no-botton-warp .was-article a {
    text-decoration: none !important;
    color: #555555 !important; }
    .is-help .no-botton-warp .was-article a:hover {
      background: white;
      border: 1px solid #ff9800; }

.thanks, .really {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .thanks span, .really span {
    padding-right: 10px; }
  .thanks h2, .really h2 {
    font-size: 1.15em;
    font-weight: 600;
    margin: 0;
    padding: 0; }

.really {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .really h2 {
    margin-bottom: 1em; }

.search-group {
  position: relative;
  max-width: 41.875em;
  min-height: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em; }
  .search-group .search-group-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 4px;
    z-index: 9;
    overflow: hidden; }
    .search-group .search-group-inner .search {
      margin: 0;
      text-align: center;
      display: inline-block;
      width: 100%; }

datalist {
  height: auto; }
  datalist option {
    min-height: 4em; }

.search-list {
  display: none;
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: auto;
  cursor: default;
  background-color: white;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  color: #0e1318;
  border: 0;
  padding: .4375em 0 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  z-index: 8000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.search-pos {
  display: none;
  top: 62px; }

.search-item {
  width: auto;
  float: none;
  clear: none;
  padding: .625em .8125em;
  margin-left: .8125em;
  margin-right: .8125em;
  border-radius: 4px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer; }
  .search-item:last-child {
    margin-bottom: .625em; }
  .search-item:hover {
    background: 0;
    background-color: #f2f2f2;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0; }
  .search-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1; }

.search-bottom {
  padding: 1em;
  border-top: 1px solid #ddd;
  margin-top: .625em; }
  .search-bottom a {
    margin: 0 1em; }
  .search-bottom:hover {
    background: 0;
    background-color: #f2f2f2;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.search-list-pannel {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1.5em; }
  .search-list-pannel .pannel-item {
    color: #0e1318 !important;
    text-decoration: none !important;
    display: block;
    padding: 1em 0;
    border-bottom: 1px solid #f2f2f2; }
    .search-list-pannel .pannel-item:hover {
      text-decoration: none !important; }
    .search-list-pannel .pannel-item:last-child {
      border-bottom: 0; }
    .search-list-pannel .pannel-item .pannle-title {
      font-size: 1.25em;
      margin-bottom: .75em;
      color: #ff9800; }
      .search-list-pannel .pannel-item .pannle-title:hover {
        color: #0e1318 !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
    .search-list-pannel .pannel-item p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }

.pagination {
  margin: 20px 0;
  width: 100%; }
  .pagination .pager {
    margin: 20px 0;
    text-align: center;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .pagination .pager .pagination-item {
      margin: 0 1em; }
      .pagination .pager .pagination-item a {
        display: inline-block;
        padding: 5px 14px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 15px;
        text-decoration: none; }
        .pagination .pager .pagination-item a:hover {
          text-decoration: none !important;
          border: 1px solid #f7ad41;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
      .pagination .pager .pagination-item .active {
        background: #e08704;
        color: white; }

select .language {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10vw;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: inherit;
          box-shadow: inherit; }
select option {
  padding: 4px 6px;
  background-color: #f7ad41;
  border: none;
  outline: none;
  -webkit-appearance: none; }
  select option:hover {
    background-color: #e08704;
    color: #f2f2f2; }

/**
  *  以下为公共设置
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input, button, a {
  outline: 0 none !important;
  blr: expression(this.onFocus=this.blur()); }

ul, li {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: rgba(14, 19, 24, 0.7);
  text-decoration: none; }

.selection::-moz-selection, .h1::-moz-selection, .h2::-moz-selection, .h3::-moz-selection, .p::-moz-selection {
  background: #e08704;
  color: #555555; }
.selection::-webkit-selection, .h1::-webkit-selection, .h2::-webkit-selection, .h3::-webkit-selection, .p::-webkit-selection {
  background: #e08704;
  color: #555555; }
.selection::selection, .h1::selection, .h2::selection, .h3::selection, .p::selection {
  background: #e08704;
  color: #555555; }

.h1 {
  font-size: 2.375em;
  font-weight: 300;
  line-height: 1.21053em;
  margin-bottom: .63158em; }

.h2 {
  font-size: 3em;
  line-height: 1.2em;
  margin-bottom: .6em;
  text-align: center; }

.h3 {
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.71429em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400; }

img {
  display: block;
  margin: auto;
  border-radius: 4px;
  border: 0;
  max-width: 100%;
  height: auto !important;
  width: auto; }

.home h3 {
  line-height: 1.30435em; }

.search-title h2 {
  font-weight: 300;
  color: white; }

.icon-size {
  font-size: 24px; }

.icon-size-16 {
  font-size: 16px; }

.icon-size-14 {
  font-size: 14px; }

.icon-size-12 {
  font-size: 12px; }

.icon-size-30 {
  font-size: 30px;
  font-weight: 400;
  display: inline-block;
  margin-right: 15px; }

.icon-size-24 {
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  margin-right: 15px; }

.icon-dd {
  color: #0e1318; }
  .icon-dd:hover {
    color: #555555;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.icon-success {
  color: #3bd43b; }

.icon-pp-right {
  color: #95a0af; }

.icon-pp {
  color: #95a0af;
  font-weight: 600;
  padding-right: 10px; }
  .icon-pp:hover {
    color: #ddd;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.icon-logo-color {
  color: #ff9800; }

.icon-color-f7 {
  color: #f7ad41; }

.icon-menu {
  width: 40px;
  height: auto;
  text-align: center;
  cursor: pointer; }

hr {
  height: 1px;
  border: 0;
  background-color: #edf0f2;
  clear: both;
  margin-top: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1.5em; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ff9800;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #0e1318;
  font-weight: 400;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed; }

textarea:focus, textarea:active, textarea:hover {
  border-color: #ff9800;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 152, 0, 0.075), 0 0 8px rgba(255, 152, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 152, 0, 0.075), 0 0 8px rgba(255, 152, 0, 0.6); }

@media screen and (min-width: 375px) {
  html {
    /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
    font-size: calc(100% + 2 * (100vw - 375px) / 39);
    font-size: calc(16px + 2 * (100vw - 375px) / 39); } }
@media screen and (min-width: 414px) {
  html {
    /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
    font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
    font-size: calc(18px + 4 * (100vw - 414px) / 586); } }
@media screen and (min-width: 600px) {
  html {
    /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
    font-size: calc(125% + 4 * (100vw - 600px) / 400);
    font-size: calc(20px + 4 * (100vw - 600px) / 400); } }
@media screen and (min-width: 1000px) {
  html {
    /* 1000px往后是每100像素0.5px增加 */
    font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
    font-size: calc(22px + 6 * (100vw - 1000px) / 1000); } }
.loading {
  border: 4px solid transparent;
  border-top: 4px solid #ff9800;
  border-bottom: 4px solid #ff9800;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
  z-index: 999999999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

/*loading*/
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/*animation 开始*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .animated .infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .animated .hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight; }

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }
.shake {
  -webkit-animation: shake 1s 3.3s infinite alternate ease-in-out;
          animation: shake 1s 3.3s infinite alternate ease-in-out; }

@-webkit-keyframes shake {
  0%,
    100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  10%,
    30%,
    50%,
    70%,
    90% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0); }
  20%,
    40%,
    60%,
    80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); } }

@keyframes shake {
  0%,
    100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  10%,
    30%,
    50%,
    70%,
    90% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0); }
  20%,
    40%,
    60%,
    80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); } }
.fadeOutLeft {
  -webkit-animation: fadeOutLeft 5s 3s ease-in-out;
          animation: fadeOutLeft 5s 3s ease-in-out; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 0; } }
@keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1; }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 0; } }
.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut; }

@-webkit-keyframes anti-rota {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes anti-rota {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.anti-rota {
  -webkit-animation-name: anti-rota 4s linear infinite;
          animation-name: anti-rota 4s linear infinite; }

/*产品特点动作*/
@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8);
            box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8); }
  50% {
    -webkit-box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8);
            box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8); }
  100% {
    -webkit-transform: scale(1.6);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0);
            box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0); } }
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8);
            box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8); }
  50% {
    -webkit-box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8);
            box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0.8); }
  100% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0);
            box-shadow: inset 0 0 1px 1px rgba(80, 184, 249, 0); } }
@-webkit-keyframes warn {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.0; }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1; }
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3; }
  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.0; } }
@keyframes warn {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.0; }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1; }
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3; }
  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.0; } }
@-webkit-keyframes warn1 {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.0; }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1; }
  50% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.3; }
  75% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5; }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.0; } }
@keyframes warn1 {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.0; }
  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1; }
  50% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.3; }
  75% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5; }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.0; } }
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

.animated-cycle {
  -webkit-animation: rotating 1s infinite linear;
  -webkit-transform-origin: center center;
  transform-origin: center center; }

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*animation 结束*/
#warp {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 1440px;
  display: block;
  margin: auto; }
  #warp .row {
    zoom: 1;
    position: relative;
    margin: auto;
    max-width: calc(1440px + (6vw * 2));
    padding-left: 0;
    padding-right: 0; }
    #warp .row:before {
      content: '';
      display: table; }
  #warp .search-warp {
    margin-top: 7.5em;
    margin-bottom: 4.5em; }
  #warp .help-warp {
    margin-bottom: 6em;
    min-height: 43.75em;
    background: white;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 20px 40px 0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 20px 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 66.25em; }
  #warp .language {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10vw;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    color: white;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    @media (max-width: 720px) {
      #warp .language {
        width: 28vw; } }
    @media (min-width: 721px) {
      #warp .language {
        width: 10vw; } }
    #warp .language option {
      padding: 4px 6px !important;
      background-color: #f7ad41;
      border-color: transparent;
      border: none;
      outline: none;
      -moz-appearance: none;
           appearance: none;
      -webkit-appearance: none; }
      #warp .language option:hover {
        background-color: #e08704 !important;
        color: #f2f2f2; }

/**
  * 动画类名，直接使用
  * 闪  .fadeIn  
  * 消失  .fadeOut
  * 由上至下, 缓慢移动  .fadeInDown
  * 由下至上, 缓慢移动  .fadeInUp
  * 由左至右，缓慢移动  .fadeInLeft
  * 由右至左，缓慢移动  .fadeInRight
  * 
  * 由左至右，滑动  .slideInLeft ,相反  .slideInRight
  * 由上至下，滑动  .slideInDown
  * 
 */
