@charset 'utf-8';

[class*=" datetimepicker-dropdown"]:before{
    content: '';
    display: inline-block;
    border-left: 0 solid transparent !important;
    border-right: 0 solid transparent !important;
    border-bottom: 0 solid #ccc !important;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
}
[class*=" datetimepicker-dropdown"]:after{
    content: '';
    display: inline-block;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid #fff;
    position: absolute;
}
.datetimepicker{
    position: absolute !important;
    top: 230px !important;
    left: 50%!important;
    transform: translateX(-269%);//这里有问题
    font-size: $pixel-fourteen;
    padding: 10px;
    z-index: 1000;
    float: left;
}
.table-condensed{
    .prev,.next{
       span{
           display: inline-block;
           background: $black-opacity-four !important;
           width: 20px;
           height: 20px;
           &:hover{
               background: $black-opacity-four !important;
           }
       }
    }
    .switch,.today{
        font-weight: $font-weight-mid;
        &:hover{
            background: $black-opacity-fifteen !important;
        }
    }
    .today{
        color: $logo-hover;
    }
    .day{
        color: $white-opacity-seventy !important;
        &:hover{
            background: $logo !important;
        }
    }
    .disabled{
        color: $black-opacity-twentyfour !important;
        &:hover{
            background: $white-opacity-thirtysix !important;
        }
    }
    .dow{
        color: $white-opacity-eight !important;
    }
    .active{
        background: $logo !important;
    }
}
