@charset 'utf-8';

.media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    @media (max-width: 1300px){
        margin-bottom: 10px;
        &:first-child{
            margin-top: 10px;
        }
    }
    .user-avatar,.pro-pic{
        display: block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        border-radius: 8px;
        overflow: hidden;
    }
    h5{
        font-size: $pixel-eighteen;
        color: $white-opacity-eight;
        font-weight: $font-weight-light;
    }
    span{
        font-size: $pixel-fourteen;
        color: $white-opacity-thirtysix;
        font-weight: $font-weight-light;
        display: inline-block;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
}
