@charset 'utf-8';

button.search-submit{
    position: absolute;
    color: $black;
    background-color: $fff;
    border: none;
    top: 1em;
    right: 0;
    padding: .5em 1.25em;
    line-height: 2.25em;
    z-index: 2;
    display: block;
}
button{
    outline:0 none !important;
}

.btn{
    background-clip: border-box;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
    transition: background-color .3s,color .3s,border .3s ease-in;
    display: inline-block;
    background: $fff;
    border-radius: 4px;
    border: 1px solid $ed;
    padding: .75em 1.5em;
    text-decoration: none;
    color: $black-opacity-seventy;
    min-width: 9.375em;
    text-align: center;
}
.btn-default{}
.btn-success{
    background: #51A351 !important;
    color: $fff;
    border: 0;
    &:hover{
        border: 0;
        background: #67b767;
        transition: $transition-base;
    }
}
