@charset 'utf-8';

$fff:                               rgba(#fff,1) !default;
$black:                             rgba(#0e1318,1) !default;
$icon-555:                          rgba(#555,1);
$black-dot2:                        rgba(0,0,0,.2) !default;
$black-opacity-seventy:             rgba(#0e1318,.7) !default;

$f2f2f2:                            #f2f2f2;
$ed:                                #edf0f2;
$f8:                                #f8f9f9;
$ddd:                               #ddd;
$left-nav-bg:                       rgba(#293039,1) !default;


$slider-bar-bg:                     rgba(#293039,1) !default;
$slider-bar-light:                  rgba(#212831,1) !default;
$slider-bar-item-hover:             rgba(#282f38,1) !default;
$slider-bar-font-color:             rgba(#95a0af,1) !default;
$slider-bar-color:                  rgba(#95a0af,1) !default;
$slider-bar-bg-hover:               rgba(#21272f,1) !default;

$main-hover:                        rgba(#f7ad41,1) !default;
$main-color:                        rgba(#ff9800,1) !default;
$main-select:                       rgba(#e08704,1) !default;


$input-bg:                          rgba(#f8f9f9,1) !default;
$input-border:                      rgba(#f3f4f4,1) !default;
$input-color:                       $black;

$ol-num-bg:                         $main-color;
$ol-num-color:                      $fff;

$show:                              $black-dot2 0 20px 40px 0 !default;

                           

