@charset 'utf-8';

select{
    .language{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10vw;
        background-color: transparent;
        border-color: transparent;
        box-shadow: inherit;
    }
    option{
        padding: 4px 6px;
        background-color: $main-hover;
        border: none;
        outline: none;
        -webkit-appearance: none;
        &:hover{
            background-color: $main-select;
            color: $f2f2f2;
        }
    }
}
